.float-right{float: right;}
.float-left{float: left;}

body{background-color: #e2e4e1!important;}

body h1{
    color: #4b5459;
    font-size: 20px;
    font-weight: bold;
}

body p{
	color: #4b5459;
	font-weight: 500;
	margin: 0px;
}

header{
	background-color: #364147;
	width: 100%;
}

header .header-title{
	display: inline-block;
	color: #e7e9e7;
	font-size: 20px;
	font-weight: 500;
	padding:16px 0px;
}

header i{
	display: inline-block;
	color: #e7e9e7;
	font-size: 20px;
	padding-left: 25px;
	padding-right: 10px;
}

header input{
	float: right;
	background-color: #2a3138;
	color: #e7e9e7;
	padding: 15px;
	border: none;
	height: 60px;
	width: 50%;
}

.body{margin-top: 25px;}

.container .page-header{border-bottom: 1px solid #4b5459;}

add-icon{
	
}

.title-over-card{
	padding-bottom: 10px;
	font-weight: bold;
}

.card-lista{
	background-color: #ffffff; 
	padding:10px 20px 10px 10px;
	margin-bottom: 10px;
}

.over-card{
	padding-top: 5px;
	max-height: 476px;
    overflow-y: auto;
}

.carro-valido{color: #509179;}

.subtext{color: #babdbd;}

.card-descricao{background-color: #f1f2f0;}

.card-descricao-body{
	padding: 10px 10px 30px 10px;
	border-bottom: 1px solid #d0d1cf;
}

p.title-card-descricao{
	color: #509179;
	font-size: 16px;
	margin-bottom: 25px;
	font-weight: bold;
}

.ano{
	display: inline-block;
    float: right;
    margin-right: 40%;
}

.marca{	display: inline-block;}

.content-descricao{
	padding-top: 30px;
	max-height: 250px;
    overflow: auto;
}

.btn{
	background-color: #45535a;
	color: #eeefed;
	border-radius: 0px!important;
	padding: 10px 40px!important;
}

.card-descricao-editar{padding: 10px 20px 10px 10px;}

.card-modal{
	padding:30px;
	background-color: #e2e4e1;
	width: 650px;
	height: 550px;
}

h1.title-modal {font-size: 26px; margin-top: 0px;}
.card-modal input{width: 40%;}
.content-modal{padding-top: 35px;}
.button-section{padding-top: 40px; text-align: right;}

